.summary {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 48px;
}

.accordionRoot {
  padding-right: 4px;
}

.accordionContent {
  margin: 6px 0;
}

.speedContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.speedContainer > * {
  margin: 0 8px;
}

.speedSlider {
  flex: 1;
}

.sliderContainer {
  margin: 0px 8px;
}

.sliderLabels {
  display: flex;
  justify-content: space-between;
  margin: -10px -8px 0 -8px;
}

.optionSlider:not(:last-child) {
  margin-bottom: 12px;
}

.root .accordionExpanded {
  margin-top: 0;
  margin-bottom: 0;
}

.accordionDetails {
  flex-direction: column;
  padding-top: 0;
}

.progress {
  flex: 1;
}

.pathDescription {
  flex: 1;
}

.settingsTitle {
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
