.summary {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 48px;
}

.accordionContent {
  margin: 6px 0;
}

.speedContainer {
  display: flex;
  flex: 1;
  margin: 0 -8px;
  align-items: center;
}

.speedContainer > * {
  margin: 0 8px;
}

.slider {
  flex: 1;
}

.root .accordionExpanded {
  margin-top: 0;
  margin-bottom: 0;
}

.progress {
  flex: 1;
}

.pathDescription {
  flex: 1;
}
