.mapContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cardContent {
  padding: 0px 12px 0px 12px;
}

.cardContent:last-child {
  padding-bottom: 4px;
}

.boxes {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 360px;
  z-index: 1;
}

.expandableBox {
  margin-top: 16px;
  height: 108px;
  overflow: visible;
}

/* on mobile */
@media screen and (max-width: 640px) {
  .boxes {
    position: initial;
    width: 100%;
    border-radius: unset;
  }

  .expandableBox {
    margin-top: -6px;
  }
}
