.mapContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cardContent {
  padding: 4px 12px 0px 12px;
}

.cardContent:last-child {
  padding-bottom: 12px;
}

.searchBox {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 360px;
  z-index: 1;
}

.searchBox > *:not(:first-child) {
  margin-top: 16px;
}

/* on mobile */
@media screen and (max-width: 640px) {
  .searchBox {
    position: initial;
    width: 100%;
    border-radius: unset;
  }

  .searchBox > *:not(:first-child) {
    margin-top: -6px;
  }
}
