.mapContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cardContent {
  padding: 4px 12px 0px 12px;
}

.cardContent:last-child {
  padding-bottom: 12px;
}

.searchBox {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 420px;
  z-index: 1;
}

/* on mobile */
@media screen and (max-width: 640px) {
  .searchBox {
    position: initial;
    width: 100%;
    border-radius: unset;
  }
}
